.filmListContainer {
    padding: 0 20px;
  
    .fimListTitle {
      font-weight: bold;
      color: white;
      font-size: 30px;
      font-family: sans-serif;
    }
  
    .filmListContent {
      display: flex;
      color: white;
  
      h3 {
        font-size: 20px;
      }
    }
  }
  