.filmContainer {
    padding: 0 15px;
  
    &:hover {
      .filmButton {
        visibility: visible;
      }
    }
  
    .filmImg {
      margin: 2px 5px;
      img {
        height: 250px;
      }
    }
  
    .filmButton {
      visibility: hidden;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0.4);
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
  
      &:hover {
        background-color: palevioletred;
      }
  
      .buttonContent {
        padding: 10px;
        font-weight: bold;
        color: white;
      }
    }
  }